* {
    font-family: verdana;
    margin: 0;
}

body {
    background-image: url("assets/restaurant.jpg");
}

h1 {
    text-align: center;
}

p{
 padding: 20px 0px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.column {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-image: url("assets/menu.jpg")
}
.row {
    padding: 5px 30px;;
}

.row-1 {
    padding: 10px 20px;
}

.text-about{
    text-align:center;
}
/* menu base styles */

nav {
    background: #333;
}

nav ul{
    list-style-type:none;
    padding:0;
}

nav a{
    text-decoration:none;
    text-align:center;
    color: #fff;
    display:block;
    padding: 10px;
}

nav a:hover {
    color: #1AFFD5;
}

/* flex styles*/

@media screen and (min-width: 768px) {

    nav ul {
        display: flex;
        justify-content:space-start;
    }

    nav li {
        flex: 1 1 0;
    }

}